h1 {
	color: darkblue;
	text-align: center;
}
h2 {
	color: darkgray;
	text-align: center;
}
table {
	color: darkgray;
	text-align: center;
	border: 2px;
}
tr,td {
	border: 1px;
	padding: 2px;
	border-collapse: collapse;
}